<div class="container">
    <div class="row">
        <div class="p-2 m-2 border rounded text-center bg-light text-primary">Order Request Submitted</div>
        <hr>
        <img src="assets/index.png" style="height:250px;"  class="img-thumbnail" alt="">  
        <br>
        <p class=" mt-2 text-danger text-center">Thank You For Submitted A Request Online</p>
        <p class=" text-center text-danger">We have recevied your request  and our team will be call you shortly .</p>
    </div>
</div>