.btn_Design:hover{
    border-radius: 6px;
    border:1px solid blue;
    
}

.btn_Des{
    border-radius: 20px;
    border:1px solid blue;
    text-align: center;
    background-color: lightblue;
    transition:all 1s linear;
}
.btn_Des:hover{
    border:1px solid lightblue;
    background-color: rgb(28, 129, 163);
    color: white;
    }