<div class="row">
    <div class="col-md-3 col">
        <div class="border " style="width:100%;height: 100%;background-color: honeydew;">
            <div class="alert alert-primary text-center" role="alert">
                <strong>Setting.......</strong>
            </div>
            <div class="alert alert-light" role="alert">
                <div class="list-group">
                    <a routerLink="/category" routerLinkActive="active" class="list-group-item list-group-item-action active">Category</a>
                    <a routerLink="/brand" routerLinkActive="active"class="list-group-item list-group-item-action">Brand</a>
                    <a routerLink="/admin" routerLinkActive="active" class="list-group-item list-group-item-action ">Product</a>
                </div>
            </div>
            
        </div>
    </div>
    <div class="col-md-9 col-12">
        <router-outlet></router-outlet>
    </div>
    </div>