<div class="container">
    <div class="row">
        <div class="col-md-8 col">
            <div>
                <div class="mb-3">
                    <label for="" class="form-label">First Name</label>
                    <input type="text" readonly value="{{user.firstName}}"
                      class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
                  </div> 
                  <div class="mb-3">
                    <label for="" class="form-label">First Name</label>
                    <input type="text" readonly value="{{user.lastName}}"
                      class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
                  </div>
                   <div class="mb-3">
                    <label for="" class="form-label">Email</label>
                    <input type="text" readonly value="{{user.email}}"
                      class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
                  </div>
                  
            </div>
        </div>
        <div class="col-md-4 col">
            <img src="assets/userdetails.png" class="img-fluid" alt="user">
        </div>
    </div>
</div>