<form #prdFrm="ngForm" (ngSubmit)="saveCategory()">
    <div class="mb-3 p-4 ">
      <label for="pName" class="form-label">Category Name</label>
      <input #catName="ngModel" type="text" [(ngModel)]="brand.name"
        class="form-control" [class.is-valid]="catName.valid" [class.is-invalid]="catName.invalid && catName.touched" name="pName" id="PName" placeholder="" required minlength="3">
        {{brand.name}}
        <div [hidden]="catName.valid || catName.untouched">
        <small *ngIf="catName.errors?.['required']" id="helpId" class="form-text text-muted d-block">Product Name is Required</small>
        <small *ngIf="catName.errors?.['minlength']" id="helpId2" class="form-text text-muted d-block">Product Name must be 3 letters at least</small>
      </div>
    </div>
    <button [disabled]="prdFrm.invalid" type="submit" class="btn btn-success" >Submit</button>
  </form>
  <br>
  <hr>
  <table class="table my-3">
    <thead class="bg-dark text-light">
      <tr>
        <th scope="col">#</th>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Setting</th>
    </thead>
    <tbody>
      <ng-container *ngFor="let cat of brandList; let i=index;">
          <tr>
                <td>All Category</td>
                <td>{{cat.id}}</td>
                <td>{{cat.name}}</td>
                <td><a name="" id="" class="btn btn-danger"  role="button" (click)="deleteItem(cat.id)">Delete</a></td>
                <td><a name="" id="" class="btn btn-info"  role="button" [routerLink]="['/brand/', cat.id]">Edit</a></td>
                <td><a name="" id="" class="btn btn-primary"  role="button" [routerLink]="['/brand/']">New</a></td>
        </tr>
      </ng-container>
    </tbody>
  </table>